html,body{width:100%;height:100%;margin:0;padding:0;overflow:hidden;}
*{font-family: "Albany AMT", sans-serif;font-size:10px;margin:0;padding:0;list-style:none;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;}
a{text-decoration:none;}
i.floatSeparator{display:block;clear:both;}
.hidden{display:none;}

/*INI-login*/
.options{position:absolute;top:0;right:8px;font-size:12px;z-index:2;}
.options a{display:inline-block;padding:4px;color:white;text-decoration:none;}
.loginForm{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;background-color:#4173dd;}
.loginForm > .userGrid{position:absolute;display:inline-block;top:25%;width:100%;text-align:center;font-size:11px;vertical-align:middle;}
.user{display:inline-block;vertical-align:middle;height:180px;line-height:10px;}
.user .image{display:inline-block;background-color:white;padding:4px;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.6);margin:0 20px;}
.user .image img{display:block;width:64px;height:64px;transition:all .5s ease;}
.user .name{padding:6px 0;color:white;font-weight:bold;}
.user .whiteBox{position:absolute;width:180px;margin-top:10px;}
.user.expand .image img{display:block;width:128px;height:128px;}
.loginForm > .wodContainer{width:400px;height:auto;margin:50px auto 0 auto;background:white;border-radius:3px;box-shadow:0 2px 4px rgba(0,0,0,.4);}
/*END-login*/

/* INI-buttons */
.btn,.select{position:relative;display:inline-block;line-height:19px !important;height:21px;
font-size:13px;color:#444;text-shadow:0 1px 0 rgba(255,255,255,.5);vertical-align:top;
background:linear-gradient(to bottom,#fcfcfc,#fcfcfc 1px,#eeeeee 1px,#d5d5d5 calc(100% - 1px),#fff);
padding:0 4px;margin:0;border-radius:3px;border:1px solid rgba(0,0,0,.4);border-top:1px solid rgba(0,0,0,.2);border-bottom:1px solid rgba(0,0,0,.5);box-shadow:0 1px 2px rgba(66,66,66,.2);
}
.btn{font-family:arial;cursor:default;outline:0;text-decoration:none;padding:0 10px;}
.btn:hover{text-decoration:none;}
.btn:active,.btn.active{background:linear-gradient(to bottom,#d3cbc1,#d3cbc1 1px,#d8d1c8 1px,#d8d1c8 2px,#ddd7ce 2px,#e2dad3 50%,#dad1ca 50%,#d3cac1);}
.btn.mini{padding:0 6px;font-size:11px !important;line-height:13px !important;height:15px;}
.btn.disabled, .disabled .btn{border:1px solid #bbb;background:linear-gradient(to bottom,#fcfcfc,#fcfcfc 1px,#f2f2f2 1px,#e9e9e9 calc(100% - 1px),#fff);color:#959595;}
.btn-group{font-size:0 !important;}
.btn-group.right{text-align:right;}
.btn-group .btn{border-radius:0;}
.btn-group .btn + .btn{border-left:0;}
.btn-group .btn:first-child{border-top-left-radius:3px;border-bottom-left-radius:3px;}
.btn-group .btn:last-child{border-top-right-radius:3px;border-bottom-right-radius:3px;}
.btn.orange{background:linear-gradient(to bottom,#ff9e17 1px,#ff8315 1px,#e57613);border-bottom:1px solid #666;color:white !important;}
.select{position:relative;width:220px;cursor:pointer;}
.select > .caret{position:absolute;top:8px;right:6px;border-top-color:#4c4c4c;}
.select > .value{display:inline-block;width:100%;overflow:hidden;}
.select .value img{display:inline-block;vertical-align:middle;}
.select.disabled{color:#baabb1;border:1px solid #cac9c8;border-top:1px solid #d6d5d4;border-bottom:1px solid #bfbdbd;background:linear-gradient(to bottom,#efeded,#e5e4e3);box-shadow:inset 0 0 1px rgba(255,255,255,1);}
.select.disabled > .caret{border-top-color:#baabb1;}
.select.disabled [class^="icon-"],.select.disabled [class*=" icon-"]{opacity:.5;}
input[type="text"]{width:220px;height:20px;line-height:20px !important;color:#4c4c4c;padding:0 4px;font-size:13px;border:1px solid #a5a5a5;border-bottom:1px solid #b9b9b9;border-top:1px solid #929292;position:relative;border-radius:3px;box-shadow:inset 0 1px 4px rgba(66,66,66,.2),0 1px 0 rgba(255,255,255,.4);}
input[type="text"]:focus{border:1px solid #cd5728;box-shadow:inset 0 0 2px rgba(205,87,40,.6),0 1px 0 rgba(255,255,255,.4);}
input[type="text"]:disabled{color:#baabb1;background:linear-gradient(to bottom,#e5e4e3,#efeded);border:1px solid rgba(165,165,165,.8);border-bottom:1px solid rgba(185,185,185,.8);border-top:1px solid rgba(146,146,146,.8);box-shadow:inset 0 1px 4px rgba(66,66,66,.1),0 1px 0 rgba(255,255,255,.2);}
/* END-buttons */
/*INI-whiteBox*/
.whiteBox{position:absolute;background:white;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.6);}
.whiteBox.middleInd:before{content:' ';position:relative;top:-21px;width:0;height:0;border:8px solid;border-color:transparent transparent white transparent;}
/*END-whiteBox*/
/*INI-wodInfo*/
div.wodInfo{position:absolute;min-width:200px;background:white;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.6);}
div.wodInfo .wodInfoIndicator{position:absolute;top:-16px;left:calc(50% - 4px);width:0;height:0;border:8px solid;border-color:transparent transparent white transparent;}
div.wodInfo .wodInfoContainer{color:black;padding:3px 3px 2px 3px;}
div.wodInfo .wodInfoContainer > *:first-child{margin:0;padding:0;}
div.wodInfo .wodInfoContainer.loading{background:URL(../images/load.gif) 3px center no-repeat;padding-left:24px;}
/*END-wodInfo*/
/*INI-wodInfo-custom*/
.wodInfoContainer .fileTransferNode{overflow:hidden;}
.wodInfoContainer .fileTransferNode .fileTransferMargin{padding:4px;}
.wodInfoContainer .fileTransferNode .title{white-space:nowrap;}
.wodInfoContainer .fileTransferNode .size{white-space:nowrap;}
.wodInfoContainer .taskNode{overflow:hidden;}
.wodInfoContainer .taskNode .taskMargin{padding:4px;}
.wodInfoContainer .taskNode .title{white-space:nowrap;}
.wodInfoContainer .taskNode .info{white-space:nowrap;}
/*END-wodInfo-custom*/
.progressBar{position:relative;width:100%;overflow:hidden;}
.progressBar > div{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;}
.progressBar > .background{position:absolute;width:100%;min-height:12px;border-style:solid;border-width:5px 6px;-moz-border-image:url(../images/progressBar_background.png) 5 6 stretch;-o-border-image: url(../images/progressBar_background.png) 5 6 stretch;border-image:url(../images/progressBar_background.png) 5 6 fill stretch;-webkit-border-image:url(../images/progressBar_background.png) 5 6 stretch;}
.progressBar > .foreground{position:relative;width:0%;min-height:12px;border-style:solid;border-width:5px 6px;-moz-border-image:url(../images/progressBar_foreground.png) 5 6 stretch;-o-border-image: url(../images/progressBar_foreground.png) 5 6 stretch;border-image:url(../images/progressBar_foreground.png) 5 6 fill stretch;-webkit-border-image:url(../images/progressBar_foreground.png) 5 6 stretch;}
ul.contextMenu{color:black;padding:5px 0;position:absolute;z-index:200;background:white;border-radius:3px;box-shadow:0px 1px 5px #000000;}
ul.contextMenu > li{padding:2px 4px;margin:0 10px;white-space:nowrap;line-height:18px;background-position:left center;background-repeat:no-repeat;}
ul.contextMenu > li:hover{color:#999;}
ul.contextMenu > li.separator{border-bottom:1px solid #eee;border-top:1px solid #bbb;height:0px;font-size:0;overflow:hidden;padding:0;}
ul.contextMenu > li.disabled{opacity:.5;color:#AAA;}
ul.contextMenu > li.disabled:hover{color:#AAA;}
ul.contextMenu > li.noSensitive{color:#333;}
ul.contextMenu > li.noSensitive:hover{color:#333;}


body > img.logo{position:absolute;z-index:10;bottom:20px;right:20px;}
div#null{position:absolute;height:0px;width:0px;overflow:hidden;}
div#lainMenu{position:absolute;top:20px;left:15px;z-index:7;}
div#lainMenu > div{position:relative;padding:2px 10px;background:white;border-radius:3px;cursor:pointer;display:inline-block;margin-right:10px;}
div#lainMenu > div > h1{font-weight:normal;}
div#lainMenu > div > ul{display:none;position:absolute;left:0;top:22px;background:white;border-radius:3px;padding:5px 0;}
div#lainMenu > div > ul > li{padding:2px 10px;padding-left:22px;margin:0 10px;white-space:nowrap;line-height:18px;}
div#lainMenu > div > ul > li:hover{color:#999;}
div#lainMenu > div.visible > ul{display:block;}
div#lainMenu > div#lainAppsMenu > ul > li{background:URL(../images/icons/page_gear.png) left center no-repeat;}
div#lainMenu > div#lainPlacesMenu > ul > li{background-position:left center;background-repeat:no-repeat;}
div#lainMenu > div#lainPlacesMenu > ul > li:last-child{background-position:8px center;border:1px dashed #AAA;padding:2px 8px 2px 8px;border-radius:5px;margin:8px 10px 4px 10px;}
ul#lainWindows{position:absolute;top:0;height:0;width:0;z-index:6;}
ul#lainWindows > li{position:absolute;height:0;width:0;}
ul#lainWindows > li > div{position:absolute;}


ul#systemTray{position:absolute;top:0;right:0px;font-size:11px;padding-right:10px;line-height:20px;color:white;}
ul#systemTray > li{float:right;position:relative;background-position:center;background-repeat:no-repeat;font-size:inherit;}
ul#systemTray > li + li{margin-right:5px;}
ul#systemTray > li > div.perm{white-space:nowrap;font-size:inherit;cursor:pointer;}
ul#systemTray > li > div.perm a{color:inherit;font-size:inherit;}
ul#systemTray > li > div.perm i{font-size:inherit;}

/*ul.list > li.alt{background-color:#ebe8e3;}*/
ul.list > li:nth-child(even){background-color:#ebe8e3;}

div#lainBackground{position:absolute;left:0;top:0;width:100%;height:100%;z-index:10;background:#453c3a;background-position:center;}
div#lainBackground img{width:100%;height:100%;position:absolute;top:0;left:0;}
#lainDesktop{position:absolute;left:0;top:0;width:100%;height:100%;z-index:20;}
#lainDesktop b.lainLeyend{color:white;padding:0 5px;}
#lainDesktop div#lainFlowIcon{position:absolute;top:0;z-index:100;}
#lainDesktop div#lainFlowIcon > *{position:absolute;}
#lainDesktop div#lainFlowIcon > div#selectionSquare{position:absolute;border:1px solid blue;width:0px;height:0px;background:red;opacity:.6;}
#lainDesktop > .wodIconCanvas{position:absolute;top:0;left:0;width:100%;background:transparent;color:white;padding:40px 0 0 0;z-index:5;}


.wodern{position:absolute;border:1px solid #cccbc9;border-top:1px solid #e1e1e3;background-color:#bdbdbd;border-radius:3px;box-shadow:0 2px 3px rgba(0,0,0,.7);}
.wodThemeBorder{position:relative;padding:2px;height:100%;}
.wodThemeBorder.withButtons{}
.wodThemeBorder > .btn-group{width:100%;padding:10px 4px;text-align:right;}
.wodThemeBorder > .btn-group:empty{display:none;}
.wodThemeResize{position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer;z-index:1;}
.wodThemeTitle{position:relative;z-index:10;}
.wodThemeTitle h1{cursor:default;line-height:20px;font-size:10px;padding:0 3px;}
.wodThemeTitle img{position:absolute;}
.wodThemeTitle img.wodButtonClose{right:3px;top:3px;width:16px;height:15px;background:URL(../images/wod/wodButton.png) left top no-repeat;}
.wodThemeContainer{position:relative;height:calc(100% - 20px);font-size:0;z-index:10;}
.wodThemeBorder.withButtons > .wodThemeContainer{height:calc(100% - 60px);}
ul.wodMenuHolder{border-bottom:1px solid #999;padding:3px 0;}
ul.wodMenuHolder > li{display:inline-block;padding:0 5px;cursor:pointer;}
ul.wodMenuHolder > li > ul{position:absolute;display:none;color:black;padding:5px 0;background:white;border-radius:3px;z-index:9;box-shadow:0 2px 3px rgba(0,0,0,.5);}
ul.wodMenuHolder > li.selected > ul{display:block;}
ul.wodMenuHolder > li.selected > ul > li{margin:0 10px;white-space:nowrap;line-height:18px;background-position:left center;background-repeat:no-repeat;}
ul.wodMenuHolder > li.selected > ul > li.eicon{padding-left:22px;}
ul.wodMenuHolder > li.selected > ul > li:hover{color:#999;}



div.iconCanvasDecorator{border-top:1px solid #515151;border-bottom:1px solid #686868;}
ul.iconCanvas{padding:0 5px;background:white;}
ul.iconCanvas > li{position:relative;}
ul.fileListDetailed > li{position:relative;min-height:32px;}
ul.fileListDetailed > li > img:first-child{width:32px;height:32px;position:absolute;}
ul.fileListDetailed > li > div.content{margin-left:40px;}
ul.fileListDetailed > li > div.content > h4{padding-top:4px;}

li.wodIcon{position:absolute;display:inline-block;width:80px;height:50px;list-style:none;padding:10px 0;cursor:default;}
li.wodIcon > i:first-child{display:none;}
li.wodIcon > div.icon32_imgHolder{text-align:center;height:32px;}
li.wodIcon > div.icon32_textHolder{position:absolute;width:100%;text-align:center;word-wrap:break-word;}
li.wodIcon textarea{width:100%;}
li.wodIcon img{width:32px;height:32px;margin:auto;}
li.wodIcon.selected{z-index:10;}
li.wodIcon.selected > div.icon32_imgHolder{}
li.wodIcon.selected > div.icon32_textHolder{background:#3169b6;color:white;border-radius:3px;}
img.icon32_generic{background:URL(../images/iconSet/text-x-generic.png) no-repeat;}
img.icon32_folder{background:URL(../images/iconSet/folder.png) no-repeat;}
img.icon32_application\/ogg{background:URL(../images/iconSet/audio-x-vorbis+ogg.png) no-repeat;}
img.icon32_application\/zip{background:URL(../images/iconSet/application-x-zip.png) no-repeat;}
img.icon32_image\/jpeg{background:URL(../images/iconSet/image-jpeg.png) no-repeat;}
img.icon32_image\/png{background:URL(../images/iconSet/image-png.png) no-repeat;}

table.dataTable{width:100%;margin-bottom:5px;}
table.dataTable thead tr{height:17px;background:URL(../images/wod/dataTable_thead.png) repeat-x;line-height:16px;}
table.dataTable thead tr > td{padding:0 5px;font-weight:bold;color:#454545;}
table.dataTable thead tr > td:first-child{}
table.dataTable tr{position:relative;background:white;}
table.dataTable tr td{position:relative;}
table.dataTable tbody > tr{background-color:#fff;}
table.dataTable tbody > tr:nth-child(even){background-color:#eee;}
table.dataTable tbody > tr td{padding:0 5px;border-left:1px solid #d8d8d8;}
table.dataTable tbody > tr td:first-child{}
/* INI-WIDGETS */
.wodItem{}
.wodItem .bold{font-weight:bold;}

.wodContainer{height:100%;overflow-y:auto;background-color:#aaa;background:linear-gradient(to bottom,#ebebeb 0px,#fff 80px);}
.wodMenuHolder + .wodContainer{height:-webkit-calc(100% - 20px);height:calc(100% - 20px);}
.wodContainer h1.header{color:#464646;text-align:center;font-size:20px;line-height:30px;padding-top:10px;}
.wodContainer p.header{color:#808080;text-align:center;padding-bottom:10px;}
.wodContainer hr{height:1px;border:0;background:-moz-linear-gradient(left,#fff 0px,#c4c4c4 40%,#c4c4c4 60%,#fff);background:-webkit-linear-gradient(left,#fff 0px,#c4c4c4 40%,#c4c4c4 60%,#fff);background:-o-linear-gradient(left,#fff 0px,#c4c4c4 40%,#c4c4c4 60%,#fff);background:-ms-linear-gradient(left,#fff 0px,#c4c4c4 40%,#c4c4c4 60%,#fff);background:linear-gradient(left,#fff 0px,#c4c4c4 40%,#c4c4c4 60%,#fff);}

.wodIconCanvas{padding:0 5px;height:100%;overflow-y:auto;background:white;}
.wodIconCanvas > li{position:relative;}
.wodButtonMenu + .wodIconCanvas{height:calc(100% - 28px);}

.wodForm{padding:25px 30px;}
.wodForm > div{}
.wodForm > div + div{margin-top:10px;}
.wodForm > div > span{display:inline-block;width:40%;text-align:right;padding-right:10px;}
.wodForm > div > div{display:inline-block;width:60%;}
.wodForm > table{width:100%;}
.wodForm > table td:first-child{width:40%;text-align:right;padding-right:10px;}
.wodForm > table td:last-child{width:60%;vertical-align:top;}
.wodForm > table tr + tr td{padding-top:10px;}
.wodForm input{display:block;width:100%;padding:2px 4px 1px 4px;line-height:16px;color:#777;border-left:1px solid #ababab;border-right:1px solid #ababab;border-top:1px solid #707070;border-bottom:1px solid #cecece;
background:white URL(../images/inputBg.png) repeat-x;}
.wodForm input:active,.wodForm input:focus{outline:0;}
.wodForm .buttonHolder{margin-top:20px;}
.wodForm .btn-group{margin-top:20px;}

.wodTable{background:white;width:100%;height:100%;min-height:50px;}
.wodTable .wodThead{color:#454545;font-weight:bold;height:20px;overflow:hidden;line-height:18px;border-top:1px solid #cbcbcb;border-bottom:1px solid #c8c8c8;background:-moz-linear-gradient(top,#e2e2e2,#e6e6e6 30%,#d5d5d5 90%,#e4e4e2 94%,#e4e4e2);background:-webkit-linear-gradient(top,#e2e2e2,#e6e6e6 30%,#d5d5d5 90%,#e4e4e2 94%,#e4e4e2);background:-o-linear-gradient(top,#e2e2e2,#e6e6e6 30%,#d5d5d5 90%,#e4e4e2 94%,#e4e4e2);background:-ms-linear-gradient(top,#e2e2e2,#e6e6e6 30%,#d5d5d5 90%,#e4e4e2 94%,#e4e4e2);background:linear-gradient(top,#e2e2e2,#e6e6e6 30%,#d5d5d5 90%,#e4e4e2 94%,#e4e4e2);}
.wodTable .wodThead .wodTd{vertical-align:baseline;}
.wodTable .wodTbody{height:calc(100% - 20px);background:white;overflow-y:auto;}
.wodTable .wodTr:nth-child(even){background-color:#eee;}
.wodTable .wodTd{position:relative;display:inline-block;line-height:16px;color:#222;padding:0 4px;vertical-align:text-top;border-right:1px solid #d8d8d8;overflow:hidden;}
.wodTable .wodTd.wodCheck div.checkbox{position:relative;display:inline-block;top:2px;width:10px;height:10px;border-radius:2px;border:1px solid #aaa;border-top:1px solid #96918d;border-bottom:1px solid #ccc;background:white;box-shadow:inset 0 1px 0 rgba(200,200,200,.4);}
.wodTable .wodTd.wodCheck div.checkbox.checked::after{position:relative;top:-5px;font-family:FontAwesome;content:"\f00c";color:#444;}
.wodTable .wodTr.selected{background:linear-gradient(to bottom,#eb6e3c 1px,#f47d4c 1px,#ec703f);}
.wodTable .wodTr.selected .wodTd{color:white;border-right:1px solid #cc6b44;background:transparent;}
.wodTable .wodTr.selected .wodTd.wodCheck div.checkbox{border:1px solid #b75229;border-top:1px solid #9c4d2d;border-bottom:1px solid #d97e59;}
.wodTable .resize{position:absolute;/*background:red;*/width:4px;height:100%;top:0;right:0;cursor:col-resize;}

.wodList{height:100%;background:white;color:#4c4c4c;}
.wodList > .wodItem{padding:4px 3px;}
.wodList > .wodItem:nth-child(even){background:#f7f7f7;}
.wodList > .wodItem.selected{color:white;background:linear-gradient(to bottom,#e1632f,#e1632f 1px,#f58151 1px,#e96d3a);}
.wodList > .wodItem.disabled{color:#959595;}

.wodIframe{display:block;width:100%;height:100%;border:0;}

.wodVContainer{position:relative;display:inline-block;width:100%;height:100%;overflow-y:auto;}
.wodMenuHolder + .wodVContainer{height:-webkit-calc(100% - 20px);height:calc(100% - 20px);}
.wodHContainer{position:relative;display:inline-block;height:100%;vertical-align:top;overflow-y:auto;}

.wodButtonMenu{padding:3px 0 1px 0;height:28px;}
.wodButtonMenu > div{display:inline-block;height:21px;line-height:19px;padding:0 5px;border:1px solid #717171;border-radius:3px;box-shadow:0 1px 0 #dcdcdc;background:-webkit-linear-gradient(top,#ededed 1px,#cacaca 1px,#c2c2c2 50%,#b8b8b8);background:-moz-linear-gradient(top,#ededed 1px,#cacaca 1px,#c2c2c2 50%,#b8b8b8);background:-ms-linear-gradient(top,#ededed 1px,#cacaca 1px,#c2c2c2 50%,#b8b8b8);background:linear-gradient(top,#ededed 1px,#cacaca 1px,#c2c2c2 50%,#b8b8b8);}
.wodButtonMenu > div + div{margin-left:2px;}
.wodButtonMenu > div:active{box-shadow: inset 0px 1px 5px #555;}
/* END-WIDGETS */





ul.systemForm{}
ul.systemForm > li{}
ul.systemForm > li > span:first-child{position:absolute;}
ul.systemForm > li > div{margin-left:50%;}

/*===INI-buttons===*/
ul.buttonHolder{text-align:right;}
ul.buttonHolder *{font-size:inherit;}
ul.buttonHolder > li.button{display:inline-block;}
ul.buttonHolder > li.button > div{margin:0 10px;}
ul.buttonHolder > li.gnomeButton{line-height:19px;text-align:center;cursor:default;color:#666;border:1px solid #a09892;border-radius:3px;box-shadow:0 0 3px rgba(0,0,0,.3);background:-moz-linear-gradient(top,#fefdfc 0,#f8f5f4 50%,#f2eeec 50%,#ece8e5 100%);background:-webkit-linear-gradient(top,#fefdfc 0,#f8f5f4 50%,#f2eeec 50%,#ece8e5 100%);background:-o-linear-gradient(top,#fefdfc 0,#f8f5f4 50%,#f2eeec 50%,#ece8e5 100%);background:-ms-linear-gradient(top,#fefdfc 0,#f8f5f4 50%,#f2eeec 50%,#ece8e5 100%);background:linear-gradient(top,#fefdfc 0,#f8f5f4 50%,#f2eeec 50%,#ece8e5 100%);}
ul.buttonHolder > li.gnomeButton:active{border:1px solid #958c83;box-shadow:0 0 3px rgba(0,0,0,.3),inset 0 1px 3px rgba(0,0,0,.3);background:-moz-linear-gradient(top,#ddd7ce 0,#ded5ce 50%,#d6cec6 50%,#d3cac1 100%);background:-webkit-linear-gradient(top,#ddd7ce 0,#ded5ce 50%,#d6cec6 50%,#d3cac1 100%);background:-o-linear-gradient(top,#ddd7ce 0,#ded5ce 50%,#d6cec6 50%,#d3cac1 100%);background:-ms-linear-gradient(top,#ddd7ce 0,#ded5ce 50%,#d6cec6 50%,#d3cac1 100%);background:linear-gradient(top,#ddd7ce 0,#ded5ce 50%,#d6cec6 50%,#d3cac1 100%);}

ul.buttonHolder > li.gnomeButtonMini{line-height:9px;font-size:9px;text-align:center;cursor:default;color:#666;border-width:3px;-moz-border-image:URL(../images/buttons/LI_gnomeButtonMiniUnpressed.png) 3;-webkit-border-image:URL(../images/buttons/LI_gnomeButtonUnpressed.png) 3;}
ul.buttonHolder > li.gnomeButtonMini:active{border-width:3px;-moz-border-image:URL(../images/buttons/LI_gnomeButtonMiniPressed.png) 3;-webkit-border-image:URL(../images/buttons/LI_gnomeButtonPressed.png) 3;}



	.wodThemeContainerCenter div.buttonHeader{clear:both;padding:3px 0;}
	.wodThemeContainerCenter div.buttonHeader div.button{float:left;}

	.wodInfoContainerCenter div.buttonFooter{clear:both;padding-top:3px;}
	.wodInfoContainerCenter div.buttonFooter div.buttonFooterNode{position:relative;float:right;height:20px;line-height:20px;background:#e3e3e3;padding:0 5px;margin-left:5px;cursor:pointer;}

/*===FIN-buttons===*/

	div#mouseTrayIcon{position:absolute;right:180px;top:1px;width:20px;height:20px;}
	div#mouseTrayIcon img{background:URL(../images/devices/mouse.png) no-repeat;width:20px;height:20px;}

.lainExplorer_sidePanel{width:140px;top:0;padding-top:5px;overflow-x:hidden;}
.lainExplorer_sidePanel > li{line-height:18px;padding-left:30px;background-position:11px center;background-repeat:no-repeat;cursor:default;}

.icon{height:16px;width:16px;background-position:center;background-repeat:no-repeat;}
.icon_applications_system{background-image:URL(../images/icons/applications_system.png) !important;}
.icon_bin{background-image:URL(../images/icons/user-trash.png) !important;}
.icon_control_centre{background-image:URL(../images/icons/control_centre.png) !important;}
.icon_copy{background-image:URL(../images/icons/copy.png) !important;}
.icon_cut{background-image:URL(../images/icons/cut.png) !important;}
.icon_database{background-image:URL(../images/icons/database.png) !important;}
.icon_desktop{background-image:URL(../images/icons/user-desktop.png) !important;}
.icon_drive_remote{background-image:URL(../images/icons/drive_remote.png) !important;}
.icon_drive_reveal{background-image:URL(../images/icons/drive_remote.png) !important;}
.icon_drive_ubuntuone{background-image:URL(../images/icons/ubuntuone.png) !important;}
.icon_emblem_updating{background-image:URL(../images/icons/emblem_updating.png) !important;}
.icon_folder{background-image:URL(../images/icons/folder.png) !important;}
.icon_folder_add{background-image:URL(../images/icons/folder_add.png) !important;}
.icon_insert_link{background-image:URL(../images/icons/insert_link.png) !important;}
.icon_object_flip_horizontal{background-image:URL(../images/icons/object-flip-horizontal.png) !important;}
.icon_object_flip_vertical{background-image:URL(../images/icons/object-flip-vertical.png) !important;}
.icon_package_new{background-image:URL(../images/icons/package_new.png) !important;}
.icon_page_white{background-image:URL(../images/icons/page_white.png) !important;}
.icon_paste{background-image:URL(../images/icons/paste.png) !important;}
.icon_token_uponelevel{background-image:URL(../images/icons/token_uponelevel.png) !important;}
.icon_trash{background-image:URL(../images/icons/user-trash.png) !important;}
.icon_page_gear{background-image:URL(../images/icons/page_gear.png) !important;}
.icon_ubuntuone{background-image:URL(../images/icons/ubuntuone.png) !important;}
