html,body{width:100%;height:100%;margin:0;padding:0;overflow:hidden;}
*{font-family: "Albany AMT", sans-serif;font-size:10px;margin:0;padding:0;list-style:none;}
a{text-decoration:none;}
i.floatSeparator{display:block;clear:both;}
.hidden{display:none;}

/*INI-login*/
.loginForm{position:absolute;top:0;left:0;width:100%;height:100%;background-color:#4173dd;}
.loginForm > .userGrid{position:absolute;top:25%;width:100%;text-align:center;}
.loginForm > .userGrid > .user{display:inline-block;}
.loginForm > .userGrid > .user .image{display:inline-block;background-color:white;padding:4px;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.6);}
.loginForm > .userGrid > .user .image img{height:64px;}
.loginForm > .userGrid > .user .name{padding:6px 0;color:white;font-weight:bold;}
.loginForm > .userGrid > .user .whiteBox{width:180px;margin-top:10px;}
/*END-login*/
/*INI-whiteBox*/
.whiteBox{position:absolute;background:white;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.6);}
.whiteBox.middleInd:before{content:' ';position:relative;top:-21px;width:0;height:0;border:8px solid;border-color:transparent transparent white transparent;}
/*END-whiteBox*/
/*INI-wodInfo*/
div.wodInfo{position:absolute;min-width:200px;background:white;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.6);}
div.wodInfo .wodInfoIndicator{position:absolute;top:-16px;left:calc(50% - 4px);width:0;height:0;border:8px solid;border-color:transparent transparent white transparent;}
div.wodInfo .wodInfoContainer{color:black;padding:3px 3px 2px 3px;}
div.wodInfo .wodInfoContainer > *:first-child{margin:0;padding:0;}
div.wodInfo .wodInfoContainer.loading{background:URL(../images/load.gif) 3px center no-repeat;padding-left:24px;}
/*END-wodInfo*/
/*INI-wodInfo-custom*/
.wodInfoContainer .fileTransferNode{overflow:hidden;}
.wodInfoContainer .fileTransferNode .fileTransferMargin{padding:4px;}
.wodInfoContainer .fileTransferNode .title{white-space:nowrap;}
.wodInfoContainer .fileTransferNode .size{white-space:nowrap;}
/*END-wodInfo-custom*/
.progressBar{position:relative;width:100%;overflow:hidden;}
.progressBar > div{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;}
.progressBar > .background{position:absolute;width:100%;min-height:12px;border-style:solid;border-width:5px 6px;-moz-border-image:url(../images/progressBar_background.png) 5 6 stretch;-o-border-image: url(../images/progressBar_background.png) 5 6 stretch;border-image:url(../images/progressBar_background.png) 5 6 fill stretch;-webkit-border-image:url(../images/progressBar_background.png) 5 6 stretch;}
.progressBar > .foreground{position:relative;width:0%;min-height:12px;border-style:solid;border-width:5px 6px;-moz-border-image:url(../images/progressBar_foreground.png) 5 6 stretch;-o-border-image: url(../images/progressBar_foreground.png) 5 6 stretch;border-image:url(../images/progressBar_foreground.png) 5 6 fill stretch;-webkit-border-image:url(../images/progressBar_foreground.png) 5 6 stretch;}


body > img.logo{position:absolute;z-index:10;bottom:20px;right:20px;}
div#null{position:absolute;height:0px;width:0px;overflow:hidden;}
div#lainMenu{position:absolute;top:20px;left:15px;z-index:5;}
div#lainMenu > div{position:relative;padding:2px 10px;background:white;border-radius:3px;cursor:pointer;display:inline-block;margin-right:10px;}
div#lainMenu > div > h1{font-weight:normal;}
div#lainMenu > div > ul{display:none;position:absolute;left:0;top:22px;background:white;border-radius:3px;padding:5px 0;}
div#lainMenu > div > ul > li{padding:2px 10px;padding-left:22px;margin:0 10px;white-space:nowrap;line-height:18px;}
div#lainMenu > div > ul > li:hover{color:#999;}
div#lainMenu > div.visible > ul{display:block;}
div#lainMenu > div#lainAppsMenu > ul > li{background:URL(../images/icons/page_gear.png) left center no-repeat;}
div#lainMenu > div#lainPlacesMenu > ul > li{background:URL(../images/icons/database.png) left center no-repeat;}
div#lainMenu > div#lainPlacesMenu > ul > li:last-child{background-position:8px center;border:1px dashed #AAA;padding:2px 8px 2px 30px;border-radius:5px;margin:8px 10px 4px 10px;}
div#lainMenu > div#lainPlacesMenu > ul > li > i:first-child{display:none;}

ul#systemTray{position:absolute;top:0;right:0px;font-size:11px;padding-right:10px;line-height:20px;color:white;}
ul#systemTray > li{float:right;position:relative;background-position:center;background-repeat:no-repeat;font-size:inherit;}
ul#systemTray > li > div.perm{white-space:nowrap;font-size:inherit;cursor:pointer;}
ul#systemTray > li > div.perm a{color:inherit;font-size:inherit;}
ul#systemTray > li > div.perm i{font-size:inherit;}


/*ul.list > li.alt{background-color:#ebe8e3;}*/
ul.list > li:nth-child(even){background-color:#ebe8e3;}

div#lainBackground{position:absolute;left:0;top:0;width:100%;height:100%;z-index:10;background:#453c3a;background-position:center;}
div#lainBackground img{width:100%;height:100%;position:absolute;top:0;left:0;}
div#lainDesktop{position:absolute;left:0;top:0;width:100%;height:100%;z-index:20;}
div#lainDesktop b.lainLeyend{color:white;padding:0 5px;}
div#lainDesktop div#lainFlowIcon{position:absolute;top:0;z-index:100;}
div#lainDesktop div#lainFlowIcon > *{position:absolute;}
div#lainDesktop div#lainFlowIcon > div#selectionSquare{position:absolute;border:1px solid blue;width:0px;height:0px;background:red;opacity:.6;}
div#lainDesktop ul#lainIcons{position:absolute;top:15px;z-index:4;color:white;}
div#lainDesktop ul#lainIcons > li{position:absolute;}
div#lainDesktop ul#lainWindows{position:absolute;top:0;height:0;width:0;z-index:5;}
div#lainDesktop ul#lainWindows > li{position:absolute;height:0;width:0;}
div#lainDesktop ul#lainWindows > li > div{position:absolute;}


.wodern{position:absolute;border:1px solid #cccbc9;border-top:1px solid #e1e1e3;background-color:#bdbdbd;border-radius:3px;box-shadow:0 2px 3px rgba(0,0,0,.7);}
.wodThemeTitle h1{cursor:default;line-height:20px;font-size:10px;padding:0 3px;}
.wodThemeTitle img{position:absolute;}
.wodThemeTitle img.wodButtonClose{right:3px;top:3px;width:16px;height:15px;background:URL(../images/wod/wodButton.png) left top no-repeat;}
.wodThemeContainer{position:relative;font-size:0;}
ul.wodMenuHolder{border-bottom:1px solid #999;padding:3px 0;margin-bottom:4px;}
ul.wodMenuHolder > li{display:inline-block;padding:0 5px;cursor:pointer;}
ul.wodMenuHolder > li > ul{position:absolute;display:none;color:black;padding:5px 0;background:white;border-radius:3px;z-index:9;box-shadow:0 2px 3px rgba(0,0,0,.5);}
ul.wodMenuHolder > li.selected > ul{display:block;}
ul.wodMenuHolder > li.selected > ul > li{padding:2px 10px;padding-left:22px;margin:0 10px;white-space:nowrap;line-height:18px;background-position:left center;background-repeat:no-repeat;}
ul.wodMenuHolder > li.selected > ul > li:hover{color:#999;}



div.iconCanvasDecorator{border-top:1px solid #515151;border-bottom:1px solid #686868;}
ul.iconCanvas{padding:0 5px;background:white;}
ul.iconCanvas > li{position:relative;}
ul.fileListDetailed > li{position:relative;min-height:32px;}
ul.fileListDetailed > li > img:first-child{width:32px;height:32px;position:absolute;}
ul.fileListDetailed > li > div.content{margin-left:40px;}
ul.fileListDetailed > li > div.content > h4{padding-top:4px;}

li.desktop_icon{position:absolute;display:inline-block;width:80px;height:50px;list-style:none;padding:10px 0;cursor:default;}
li.desktop_icon > i:first-child{display:none;}
li.desktop_icon > div.icon32_imgHolder{text-align:center;height:32px;}
li.desktop_icon > div.icon32_textHolder{position:absolute;width:100%;text-align:center;word-wrap:break-word;}
li.desktop_icon img{width:32px;height:32px;margin:auto;}
li.desktop_icon.iconSelected{z-index:10;}
li.desktop_icon.iconSelected > div.icon32_imgHolder{}
li.desktop_icon.iconSelected > div.icon32_textHolder{background:#3169b6;color:white;border-radius:3px;}
ul.icon_contextMenu{color:black;padding:5px 0;position:absolute;z-index:200;background:white;border-radius:3px;box-shadow:0px 1px 5px #000000;}
ul.icon_contextMenu > hr{margin:0 3px;border:0;border-bottom:1px solid #999;}
ul.icon_contextMenu > li{padding:2px 10px;padding-left:22px;margin:0 10px;white-space:nowrap;line-height:18px;background-position:left center;background-repeat:no-repeat;}
ul.icon_contextMenu > li:hover{color:#999;}
ul.icon_contextMenu > li.separator{border-bottom:1px solid #eee;border-top:1px solid #bbb;height:0px;font-size:0;overflow:hidden;padding:0;}
ul.icon_contextMenu > li.disabled{opacity:.5;color:#AAA;}
ul.icon_contextMenu > li.disabled:hover{color:#AAA;}
ul.icon_contextMenu > li.noSensitive{color:#333;}
ul.icon_contextMenu > li.noSensitive:hover{color:#333;}
img.icon32_generic{background:URL(../images/iconSet/text-x-generic.png) no-repeat;}
img.icon32_folder{background:URL(../images/iconSet/folder.png) no-repeat;}
img.icon32_application\/ogg{background:URL(../images/iconSet/audio-x-vorbis+ogg.png) no-repeat;}
img.icon32_image\/jpeg{background:URL(../images/iconSet/image-jpeg.png) no-repeat;}
img.icon32_image\/png{background:URL(../images/iconSet/image-png.png) no-repeat;}

.lainList{border:1px solid #c4c1bd;background:white;width:100%;min-height:100px;overflow-x:hidden;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;}
table.dataTable{width:100%;margin-bottom:5px;}
table.dataTable thead tr{height:17px;background:URL(../images/wod/dataTable_thead.png) repeat-x;line-height:16px;}
table.dataTable thead tr > td{padding:0 5px;border-top:1px solid #707070;font-weight:bold;color:#454545;}
table.dataTable thead tr > td:first-child{}
table.dataTable tr{position:relative;background:white;}
table.dataTable tr td{position:relative;}
table.dataTable tbody > tr{background-color:#fff;}
table.dataTable tbody > tr:nth-child(even){background-color:#eee;}
table.dataTable tbody > tr td{padding:0 5px;border-left:1px solid #d8d8d8;}
table.dataTable tbody > tr td:first-child{}






ul.systemForm{}
ul.systemForm > li{}
ul.systemForm > li > span:first-child{position:absolute;}
ul.systemForm > li > div{margin-left:50%;}

	/*===INI-buttons===*/
ul.buttonHolder{text-align:right;}
ul.buttonHolder *{font-size:inherit;}
ul.buttonHolder > li.button{display:inline-block;}
ul.buttonHolder > li.button > div{margin:0 10px;}
ul.buttonHolder > li.gnomeButton{line-height:19px;text-align:center;cursor:default;color:#666;-moz-border-image:URL(../images/buttons/LI_gnomeButtonUnpressed.png) 3 4 3 4 round round;-webkit-border-image:URL(../images/buttons/LI_gnomeButtonUnpressed.png) 3 4 3 4 round round;border-width:3px 4px;}
ul.buttonHolder > li.gnomeButton:active{-moz-border-image:URL(../images/buttons/LI_gnomeButtonPressed.png) 3 4 3 4 round round;-webkit-border-image:URL(../images/buttons/LI_gnomeButtonPressed.png) 3 4 3 4 round round;border-width:3px 4px;}

ul.buttonHolder > li.gnomeButtonMini{line-height:9px;font-size:9px;text-align:center;cursor:default;color:#666;border-width:3px;-moz-border-image:URL(../images/buttons/LI_gnomeButtonMiniUnpressed.png) 3;-webkit-border-image:URL(../images/buttons/LI_gnomeButtonUnpressed.png) 3;}
ul.buttonHolder > li.gnomeButtonMini:active{border-width:3px;-moz-border-image:URL(../images/buttons/LI_gnomeButtonMiniPressed.png) 3;-webkit-border-image:URL(../images/buttons/LI_gnomeButtonPressed.png) 3;}



	.wodButtonMenu{padding:0 5px;margin-bottom:5px;}
	.wodButtonMenu > div{display:inline-block;height:20px;line-height:20px;padding:0 1px;border:1px solid #4f4f4f;border-radius:3px;box-shadow:0 1px 0 #dcdcdc;background:URL(../images/buttons/buttonMenuBg.png) repeat-x;}
	.wodButtonMenu > div:active{box-shadow: inset 0px 1px 5px #555;}
	.wodButtonMenu > div > img.icon{width:20px;height:20px;}

	.wodThemeContainerCenter div.buttonHeader{clear:both;padding:3px 0;}
	.wodThemeContainerCenter div.buttonHeader div.button{float:left;}

	.wodInfoContainerCenter div.buttonFooter{clear:both;padding-top:3px;}
	.wodInfoContainerCenter div.buttonFooter div.buttonFooterNode{position:relative;float:right;height:20px;line-height:20px;background:#e3e3e3;padding:0 5px;margin-left:5px;cursor:pointer;}

		div.buttonHolder div.button{display:inline-block;}
		/*osxPe*/
		div.osxPeButtonUnpressed{line-height:20px;cursor:default;color:#494a4d;}
		div.osxPeButtonUnpressed div.buttonLeft:first-child{background:URL(../images/buttons/osxPeButtonUnpressed.png) left top no-repeat;height:22px;padding-left:4px;}
		div.osxPeButtonUnpressed div.buttonRight:first-child{background:URL(../images/buttons/osxPeButtonUnpressed.png) right -22px no-repeat;height:22px;padding-right:4px;text-align:center;}
		div.osxPeButtonUnpressed div.buttonCenter:first-child{background:URL(../images/buttons/osxPeButtonUnpressed.png) left -44px repeat-x;height:22px;padding:0 2px;font-size:10px;}

		div.osxPeButtonPressed{line-height:20px;cursor:default;color:#494a4d;}
		div.osxPeButtonPressed div.buttonLeft:first-child{background:URL(../images/buttons/osxPeButtonPressed.png) left top no-repeat;height:22px;padding-left:4px;}
		div.osxPeButtonPressed div.buttonRight:first-child{background:URL(../images/buttons/osxPeButtonPressed.png) right -22px no-repeat;height:22px;padding-right:4px;text-align:center;}
		div.osxPeButtonPressed div.buttonCenter:first-child{background:URL(../images/buttons/osxPeButtonPressed.png) left -44px repeat-x;height:22px;padding:0 2px;font-size:10px;}
		/*GNOME*/
		div.gnomeButtonUnpressed{line-height:27px;text-align:center;cursor:default;color:#666;}
		div.gnomeButtonUnpressed div.buttonLeft{background:URL(../images/buttons/gnomeButtonUnpressed.png) left top no-repeat;height:26px;padding-left:4px;}
		div.gnomeButtonUnpressed div.buttonRight{background:URL(../images/buttons/gnomeButtonUnpressed.png) right -26px no-repeat;height:26px;padding-right:4px;}
		div.gnomeButtonUnpressed div.buttonCenter{background:URL(../images/buttons/gnomeButtonUnpressed.png) left -52px repeat-x;height:26px;padding:0 4px;font-size:10px;}

		div.gnomeButtonPressed{line-height:27px;text-align:center;cursor:default;color:#666;}
		div.gnomeButtonPressed div.buttonLeft{background:URL(../images/buttons/gnomeButtonPressed.png) left top no-repeat;height:26px;padding-left:4px;}
		div.gnomeButtonPressed div.buttonRight{background:URL(../images/buttons/gnomeButtonPressed.png) right -26px no-repeat;height:26px;padding-right:4px;}
		div.gnomeButtonPressed div.buttonCenter{background:URL(../images/buttons/gnomeButtonPressed.png) left -52px repeat-x;height:26px;padding:0 4px;font-size:10px;}
		/*GNOME-mini*/
		div.gnomeButtonMiniUnpressed{line-height:16px;text-align:center;cursor:default;color:#666;}
		div.gnomeButtonMiniUnpressed div.buttonLeft{background:URL(../images/buttons/gnomeButtonMiniUnpressed.png) left top no-repeat;height:15px;padding-left:4px;}
		div.gnomeButtonMiniUnpressed div.buttonRight{background:URL(../images/buttons/gnomeButtonMiniUnpressed.png) right -15px no-repeat;height:15px;padding-right:4px;}
		div.gnomeButtonMiniUnpressed div.buttonCenter{background:URL(../images/buttons/gnomeButtonMiniUnpressed.png) left -30px repeat-x;height:15px;padding:0 3px;font-size:9px;}

		div.gnomeButtonMiniPressed{line-height:16px;text-align:center;cursor:default;color:#666;}
		div.gnomeButtonMiniPressed div.buttonLeft{background:URL(../images/buttons/gnomeButtonMiniPressed.png) left top no-repeat;height:15px;padding-left:4px;}
		div.gnomeButtonMiniPressed div.buttonRight{background:URL(../images/buttons/gnomeButtonMiniPressed.png) right -15px no-repeat;height:15px;padding-right:4px;}
		div.gnomeButtonMiniPressed div.buttonCenter{background:URL(../images/buttons/gnomeButtonMiniPressed.png) left -30px repeat-x;height:15px;padding:0 3px;font-size:9px;}
	/*===FIN-buttons===*/

	div#mouseTrayIcon{position:absolute;right:180px;top:1px;width:20px;height:20px;}
	div#mouseTrayIcon img{background:URL(../images/devices/mouse.png) no-repeat;width:20px;height:20px;}

.lainExplorer_explorerBody{position:relative;}
.lainExplorer_sidePanel{width:140px;position:absolute;top:0;padding-top:5px;overflow-x:hidden;}
.lainExplorer_sidePanel > li{line-height:18px;padding-left:30px;background-position:11px center;background-repeat:no-repeat;cursor:default;}
.lainExplorer_iconHolder{margin-left:120px;}

.icon{height:16px;width:16px;background-position:center;background-repeat:no-repeat;}
.icon_application_cascade{background-image:URL(../images/icons/application_cascade.png) !important;}
.icon_applications_system{background-image:URL(../images/icons/applications_system.png) !important;}
.icon_bin{background-image:URL(../images/icons/user-trash.png) !important;}
.icon_control_centre{background-image:URL(../images/icons/control_centre.png) !important;}
.icon_copy{background-image:URL(../images/icons/copy.png) !important;}
.icon_cut{background-image:URL(../images/icons/cut.png) !important;}
.icon_database{background-image:URL(../images/icons/database.png) !important;}
.icon_desktop{background-image:URL(../images/icons/user-desktop.png) !important;}
.icon_drive_remote{background-image:URL(../images/icons/drive_remote.png) !important;}
.icon_drive_reveal{background-image:URL(../images/icons/drive_remote.png) !important;}
.icon_drive_ubuntuone{background-image:URL(../images/icons/ubuntuone.png) !important;}
.icon_emblem_updating{background-image:URL(../images/icons/emblem_updating.png) !important;}
.icon_folder{background-image:URL(../images/icons/folder.png) !important;}
.icon_folder_add{background-image:URL(../images/icons/folder_add.png) !important;}
.icon_insert_link{background-image:URL(../images/icons/insert_link.png) !important;}
.icon_object_flip_horizontal{background-image:URL(../images/icons/object-flip-horizontal.png) !important;}
.icon_object_flip_vertical{background-image:URL(../images/icons/object-flip-vertical.png) !important;}
.icon_package_new{background-image:URL(../images/icons/package_new.png) !important;}
.icon_page_white{background-image:URL(../images/icons/page_white.png) !important;}
.icon_paste{background-image:URL(../images/icons/paste.png) !important;}
.icon_token_uponelevel{background-image:URL(../images/icons/token_uponelevel.png) !important;}
.icon_trash{background-image:URL(../images/icons/user-trash.png) !important;}
.icon_page_gear{background-image:URL(../images/icons/page_gear.png) !important;}
.icon_ubuntuone{background-image:URL(../images/icons/ubuntuone.png) !important;}
